-#.container__content
-#.content__footer.clearfix
  .content__footer--tag.pull-left
    %a{ 'data-url' => '#' , class: 'button__tag'} 
      %span.glyphicon.glyphicon-tags
  .content__footer--publish.pull-right
    %button{ type: 'button' , class: 'btn btn-default' } 公開
