= form_for @tag do |f|
  .form-group
    = f.label :name
    = f.text_field :name, { class: 'form-control', placeholder: 'タグ名を入力' }

  .form-group
    = f.submit (@tag.persisted? ? '更新' : '保存'), { class: 'btn btn-primary' }
