!!! 5
%html{ lang: 'ja' }
  %head
    %meta{ charset: 'utf-8' }
    %title Phoga
    = stylesheet_link_tag 'phoga/application', media: 'screen'
    = javascript_include_tag 'phoga/application'
    = csrf_meta_tags
  %body
    = yield
