.content__footer {
  margin: 0;
  padding: 0;
  background-color: #fff;
}

.button__tag {
  display: block;
  width: 60px;
  height: 60px;
  color: #ddd;
  text-align: center;
  line-height: 60px;
  &:hover {
    background-color: #ddd;
  }
}

.button__publish {
  display: block;
  width: 60px;
  height: 60px;
  color: #fff;
  text-align: center;
  line-height: 60px;
  background-color: #cfe9e9;
  &:hover {
    background-color: #ddd;
  }
}