a {
  text-decoration: none;
  color: #53a2b9;
}

a:hover {
  text-decoration: none;
  color: #999;
}

a:active {
  text-decoration: none;
  color: #999;
}

a:visited {
  text-decoration: none;
  color: #53a2b9;
}