.container-inner {
  padding: 5px;
}

.container__header {
  @extend .container-inner;
  background-color: #eee;
}

.container__content {
  @extend .container-inner;
}

.content__footer {
  @extend .container-inner;
  background-color: #bbb;
}

footer.global {
  padding: 10px 0;
  background-color: #eee;
}