html,body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #222;
}

.wrapper {
  position: relative;
  height: 100%;
}

.navigation {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 100%;
  background-color: #323739;
  &.navigation--expanded {
    display: block;
    width: 150px;
  }
}

.navbar {
  margin: 0;
  border-radius: 0;
  border: 0;
}

.navbar-brandname {
  padding: 20px 15px 15px 15px;
  font-size: 18px;
  line-height: 20px;
  height: 60px;
}

.nav>li {
  a:hover{ 
    background-color: #1c2027;
  }
}

.main-container {
  width: auto;
  height: 100%;
  background-color: #202630;
  &.expanded-navigation {
    position: relative;
    top: 0;
    left: 150px;
  }
}

.icon-bar {
  background-color: #fff;
}

.container-inner {
  padding: 5px;
}

.container__header {
  @extend .container-inner;
  color: #fff;
}

.container__header--current {
  float: left;
  width: auto;
  line-height: 30px;
}

.admin-nav {
  padding-top: 6px;
  list-style: none;
  li {
    display: inline;
  }
}

.admin-avatar {
  font-size: 24px;
}

.container__content {
  margin: 0;
  padding: 20px;
  background-color: #eee;
}

.entry-editer {
  padding: 10px;
  width: 100%;
  height: 50px;
  background-color: #fff;
}

.entry-text {
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  height: 600px;
  background-color: #fff;;
}


//Tablet
@media (min-width: 768px) {
  .navigation {
    display:block;
  }
  .main-container {
    margin-left: 150px;
    &.expanded-navigation {
      position: static;
    }
  }
}